<div class="container">
	<div class="playContainer">
		<h1>{{gameState.gameName || 'NoName'}}</h1>

		<div class="link" ng-hide="gameState.p2">
			<a id="joinLink" target="_new" href="{{joinLink}}">Join link</a>
		</div>

		<div class="players">
			<p id="myname">{{myself.side}}: {{myself.userName}}</p>
			<p>VS</p>
			<div ng-show="gameState.p2">
				<p id="opponentname">{{opponent.side}}: {{opponent.userName}}</p>
			</div>
		</div>

		<div class="board">
			<div class="head">
				<div ng-show="gameState.nextToMove == 'X' && gameState.p2 && !(gameState.nextToMove == 'Done')">
					<p>{{gameState.p1.userName}}'s turn</p>
				</div>

				<div ng-show="!(gameState.p2)">
					<p>Waiting for player ...</p>
				</div>

				<div ng-show="gameState.nextToMove == 'O' && !(gameState.nextToMove == 'Done')">
					<p>{{gameState.p2.userName}}'s turn</p>
				</div>

				<div ng-class="{'winner':gameState.winner}" class="winner" ng-show="gameState.winner">
					<p>{{ gameState.winner }} WINS!</p>
				</div>

				<div class="draw" ng-show="gameState.draw">
					<p>DRAW!</p>
				</div>
			</div>
			<div id="myBoard" class="inner">
				<div class="trow" ng-repeat="row in gameState.board" ng-init="x=$index">
					<div class="tcell" ng-class="cell + ' x' + x + 'y' + y" ng-repeat="cell in row track by $index" ng-init="y=$index" ng-click="move([x,y])">
					<span class="content">{{cell}}</span>
				</div>
			</div>
		</div>
	</div>
</div>